<?php
namespace Settings;

class LocalSettings implements Interfaces\LocalSettingsInterface
{
    /************************
     *   Instance methods   *
     ***********************/

    public function getLogfilesDirectory()
    {
        return 'logs';
    }

    public function getPathToSharedClasses()
    {
        return 'Shared';
    }
}
